{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>

    <!-- Required meta tags-->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="au theme template"/>
    <meta name="author" content="Hau Nguyen"/>
    <meta name="keywords" content="au theme template"/>

    <!-- Title Page-->
    <title>medicine</title>

    <!-- Font-faces CSS-->
    <link href="{% static 'css/font-face.css' %}" rel="stylesheet" media="all"/>
    <link href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all"/>
    <link href="{% static 'vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet" media="all"/>
    <link href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all"/>

    <!-- Bootstrap CSS-->
    <link href="{% static 'vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all"/>

    <!-- Vendor CSS-->
    <link href="{% static 'vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all"/>
    <link href="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet"
          media="all"/>
    <link href="{% static 'vendor/wow/animate.css' %}" rel="stylesheet" media="all"/>
    <link href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all"/>
    <link href="{% static 'vendor/slick/slick.css' %}" rel="stylesheet" media="all"/>
    <link href="{% static 'vendor/select2/select2.min.css' %}" rel="stylesheet" media="all"/>
    <link href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" media="all"/>

    <!-- Main CSS-->
    <link href="{% static 'css/theme.css' %}" rel="stylesheet" media="all"/>
</head>

<body class="animsition">
<div class="page-wrapper">
    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar d-none d-lg-block">


        <div class="logo">
            <a href="#">
                <img src="{% static 'images/icon/mainIcon.ico' %}"/><h6>Ph-Management System</h6>
            </a>
        </div>

        <br>

        <div class="menu-sidebar__content js-scrollbar1">

            <nav class="navbar-sidebar">


                <ul class="list-unstyled navbar__list">
                    <li>
                        <a class="js-arrow" href="{% url 'home' %} "><i class="fas fa-home"></i>Home</a>
                    </li>
                    <li>
                        <a class="js-arrow" href="{% url 'medicine' %} "><i class='fas fa-spoon'></i>Medicines</a>
                    </li>
                    <li><a href="{% url 'sales' %} "><i class='fas fa-shopping-basket'></i>Sales</a>
                    </li>
                    <li class="active">
                        <a class="js-arrow" href="{% url 'customer' %} "><i class="fas fa-circle-user"></i>Customer</a>
                    </li>
                    <li>
                        <a class="js-arrow" href="{% url 'lons' %} "><i class="fas fa-leaf"></i>Loans</a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
    <!-- END MENU SIDEBAR-->


    <!-- PAGE CONTAINER-->
    <div class="page-container">

  <!-- HEADER DESKTOP-->
        <header class="header-desktop">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="header-wrap">
                        <h5>Arvin Pharmacy Management System</h5>
                    </div>
                </div>
            </div>
        </header>
        <!-- END HEADER DESKTOP-->

        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <i class="mr-2 fa fa-align-justify"></i>
                                    <strong class="card-title" v-if="headerText">List of All Customer</strong>
                                </div>
                                <div class="card-body">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="au-btn au-btn-icon au-btn--green au-btn--small"
                                            data-toggle="modal"
                                            data-target="#smallmodal">
                                        <i class="zmdi zmdi-plus"></i>Add New Customer
                                    </button>
                                    <br/> <br/>
                                    <div class="table-responsive table--no-card m-b-30">
                                        <table class="table table-borderless table-striped table-earning"
                                               style="text-align: center">
                                            <thead>
                                            <tr>
                                                <th>Full Name</th>
                                                <th>Address</th>
                                                <th>Phone Number</th>
                                                <th>Register Date</th>
                                                <th>Operation</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for info in form %}
                                                <tr>
                                                    <td>{{ info.fullName }}</td>
                                                    <td>{{ info.address }}</td>
                                                    <td>{{ info.phoneNumber }}</td>
                                                    <td>{{ info.registerDate }}</td>
                                                    <td>
                                                        <div class="table-data-feature">
                                                            <button name="btnEdate" class="item" data-toggle="tooltip"
                                                                    data-placement="top"
                                                                    title="Edit">
                                                                <a href="{% url 'customerUpdate' info.id %}"> <i
                                                                        class="zmdi zmdi-edit"></i></a>
                                                            </button>
                                                            <button name="btnDelete" class="item" data-toggle="tooltip"
                                                                    data-placement="top"
                                                                    title="Delete">

                                                                <a href="{% url 'customerDelete' info.id %}"> <i
                                                                        class="zmdi zmdi-delete"></i></a>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- modal small -->
        <div class="modal fade" id="smallmodal" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">

                        <h5 class="modal-title" id="smallmodalLabel">Add New Customer</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <form action="" method="POST" enctype="multipart/form-data" novalidate="novalidate">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="cc-payment" class="control-label mb-1">Full Name</label>
                                            <input id="cc-pament" name="txt_fullName" type="text" class="form-control"
                                                   placeholder="Enter the name of customer" aria-required="true"
                                                   aria-invalid="false"/>
                                        </div>
                                        <div class="form-group has-success">
                                            <label for="cc-name" class="control-label mb-1">Address</label>
                                            <input id="cc-name" placeholder="Enter the address of customer"
                                                   name="txt_address" type="text"
                                                   class="form-control cc-name valid" data-val="true"
                                                   data-val-required="Please enter address of customer"
                                                   autocomplete="cc-name" aria-required="true"
                                                   aria-invalid="false" aria-describedby="cc-name-error"/>
                                            <span class="help-block field-validation-valid" data-valmsg-for="cc-name"
                                                  data-valmsg-replace="true"></span>
                                        </div>

                                        <div class="form-group">
                                            <label for="cc-number" class="control-label mb-1">Phone Number
                                            </label>
                                            <input id="cc-number" placeholder="Enter the phone number"
                                                   name="txt_phone"
                                                   type="text" class="form-control cc-number identified visa" value=""
                                                   data-val="true"
                                                   data-val-required="Please enter the phone number"
                                                   data-val-cc-number="Please enter a valid phone number"
                                                   autocomplete="cc-number"/>
                                            <span class="help-block" data-valmsg-for="cc-number"
                                                  data-valmsg-replace="true"></span>
                                        </div>


                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="cc-exp" class="control-label mb-1">Register Date</label>
                                                    <input id="cc-exp" name="txt_date" type="date"
                                                           class="form-control cc-exp" value=""
                                                           data-val="true"
                                                           data-val-required="Please enter the date"
                                                           data-val-cc-exp="Please enter the date"
                                                           placeholder="please enter the date"
                                                           autocomplete="cc-exp"/>
                                                    <span class="help-block" data-valmsg-for="cc-exp"
                                                          data-valmsg-replace="true"></span>
                                                </div>

                                            </div>
                                        </div>

                                        <div></div>

                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-secondary" data-dismiss="modal">
                                                Cancel
                                            </button>
                                            <button type="submit" name="btnAdd" class="btn btn-primary">
                                                Save
                                            </button>
                                        </div>

                                        <div class="modal-footer">
                                            <p>{{ error }}</p>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end modal small -->


    </div>
    <!-- Jquery JS-->
    <script src="{% static 'vendor/jquery-3.2.1.min.js' %}"></script>
    <!-- Bootstrap JS-->
    <script src="{% static 'vendor/bootstrap-4.1/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-4.1/bootstrap.min.js' %}"></script>
    <!-- Vendor JS       -->
    <script src="{% static 'vendor/slick/slick.min.js' %}"></script>
    <script src="{% static 'vendor/wow/wow.min.js' %}"></script>
    <script src="{% static 'vendor/animsition/animsition.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
    <script src="{% static 'vendor/counter-up/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'vendor/counter-up/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'vendor/circle-progress/circle-progress.min.js' %}"></script>
    <script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'vendor/chartjs/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/select2/select2.min.js' %}"></script>

    <!-- Main JS-->
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
<!-- end document-->
